.main {
    max-width: 700px;
    margin: 0 auto;
    background-color: aqua;
    border-radius: 5px;
    overflow: auto;
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
}

h1 {
    display: inline-block;
}

.toggles {
    position: absolute;
    right: 20px;
    padding: 28px 0px 30px 0px;
}

.toggles > button {
    border: none;
    padding: 7px;
    color: white;
    background-color: red;
    border-radius: 3px;
    opacity: 0.9;
    outline: none;
}

button:hover {
    opacity: 1;
    box-shadow: 0px 2px 5px green;
}

button:active {
    opacity: 0.8;
}

.active1 {
    background-color: darkviolet !important;
}

.channels {
    margin-bottom: 10px;
}

#icon {
    margin-right: 10px;
    display: inline-block;
    
}

#icon > img {
    border-radius: 5px;
    vertical-align:middle
}

#name {
    display: inline-block;
    margin-right: 10px;
}

#streaming {
    display: inline-block;
    float: right;
}